// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}

section {
  @extend .row;
  margin-top: 20px;
}

.col-form-label-lg {
  padding-top: calc(0.75rem - 1px * 2);
  padding-bottom: 0;
  font-size: 1.25rem;
}

label {
  display: inline-block;
  margin-bottom: 0rem;
}

.form-control{
  text-align: center;
}

.has-success{
  input {
    color: #5cb85c;
  }
  label {
    color: #5cb85c;
  }
}

a.nav-link {

  padding-left: 2rem !important;
  i {
    font-size: 28px;
    float: left;
    margin-right: 11px;
    line-height: 23px;
    font-weight: bold;
  }

}

.form-group {
  input::placeholder {
    color: #BBBBBB;
  }
  p {
    margin-bottom: 0px;
    text-align: center;
  }
}
