// make all images responsive by default


main {
  padding-top: 57px;
}

section {
  @extend .row;
  margin-top: 20px;
}

.col-form-label-lg {
  padding-top: calc(0.75rem - 1px * 2);
  padding-bottom: 0;
  font-size: 1.3rem;
}

label {
  display: inline-block;
  margin-bottom: 0rem;
}

.form-control{
  text-align: center;
}

.has-success{
  input {
    color: #5cb85c;
  }
  label {
    color: #5cb85c;
  }
}

a.nav-link {
  padding-left: 2rem !important;
  i {
    font-size: 26px;
    float: left;
    margin-right: 8px;
    line-height: 19px;
    font-weight: bold;

  }
}

.i-test-css {
  font-size: 24px;
  float: left;
  margin-right: 11px;
  line-height: 20px;
  font-weight: bold;
}

.navbar-brand {
  font-size: 26px;
  i {
    font-size: 36px;
    float: left;
    margin-right: 7px;
    line-height: 20px;
  }
}

.form-group {
  input::placeholder {
    color: #BBBBBB;
  }
  p {
    margin-bottom: 0px;
    text-align: center;
  }
}

.collapseButton {
  padding-bottom: 5px;
}

.small-margin-right {
  margin-right: 5px;
}
